body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    background-color: black;
    overflow: hidden;
  }
  
  .image-container {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.7s;
  }
  
  .image-container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  }
  
  .image-container span img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .btn-container {
    position: relative;
    width: 80%;
  }
  
  .btn {
    position: absolute;
    bottom: -80px;
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    filter: brightness(1.4);
  }
  
  #prev {
    left: 20%;
  }
  
  #next {
    right: 20%;
  }
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.image-container{
    height: 200px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.image-container span{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(calc(--i)*45deg) translateZ(400px);

}
.image-container img{
    margin: 20px;
}
.btn-container{
    position: fixed;
   margin-bottom: 0px;
}
.btn{
    padding: 10px 30px;
    color: black;
    background-color: coral;
    font-size: 20px;
    font-style: cursive;
    border: 2px solid blanchedalmond;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
}
.btn:hover{
    background-color: brown;
    color: white;
    transition: 0.5s;
} */